<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,700i" rel="stylesheet">

</head>

<body>
  <h1>Edit a word</h1>
  <form action="/words/<%=words._id%>" method="post">
    <br><label>Edit the word</label><br>
    <input type="text" name="newword" value="<%=words.word%>" size="100">
    <br>
    <br><label>Edit the definition</label><br>
    <input type="text" name="definition" value="<%=words.definition%>" size="100">
    <br>
    <br><label>Edit the sentence</label><br>
    <input type="text" name="usage" value="<%=words.usage%>" size="100">
    <br>
    <br>
    <input type="Submit" value="Confirm">
  </form>

  <div class="footer navbar-fixed-bottom">Made with &hearts; in Berlin</div>
  </div>
</body>

</html>