<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">


</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Worducate</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/words">View words</a>
        </li>
        <li>
          <a href="/words/new">Add word</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/signup">
            <span class="glyphicon glyphicon-user"></span> Sign Up</a>
        </li>
        <li>
          <a href="/login">
            <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
        <li>
          <a href="/logout">
            <span class="glyphicon glyphicon-log-in"></span> Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1>All words</h1>
  <div class="container">
    <br>
    <% for(let i = 0; i < words.length; i++) {%>
      <div class="content">
        <class="sub-heading">Word:
          <%= words[i].word%>
            <br>
            <class="sub-heading">Definition:
              <%= words[i].definition %>
                <br>
                <class="sub-heading">Usage:
                  <%= words[i].usage%>

                    <% if (words[i].status === "User") { %>
                      <a href="words/<%=words[i]._id%>/edit" <i id="edit-pencil" class="fas fa-pencil-alt"></a>
                      </i>
                      <%}%>
      </div>
      <%}%>

        <div class="footer navbar-fixed-bottom">Made with &hearts; in Berlin</div>
  </div>
</body>

</html>