<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,700i" rel="stylesheet">

</head>

<body>
  <h1>All words</h1>
  <div class="container">
    <br>
    <% for(let i = 0; i < words.length; i++) {%>
      <div class="content">
        <class="sub-heading">Word:
          <%= words[i].word%>
            <br>
            <class="sub-heading">Definition:
              <%= words[i].definition %>
                <br>
                <class="sub-heading">Usage:
                  <%= words[i].usage%>
      </div>
      <%}%>
        <div class="footer navbar-fixed-bottom">Made with &hearts; in Berlin</div>
  </div>
</body>

</html>